body{
  padding: 0;
  margin: 0;
}
.bar{
  background: white;
  width: 6px;
  height: 60px;
  display: inline-block;
  transform-origin: ;
  animation: load 1.5s ease-in-out infinite;

}
.center{
top:50%;
left:50%;
position: absolute;
}
.bar1{
  animation-delay: 0.1s;
}
.bar2{
  animation-delay: 0.2s;
}
.bar3{
  animation-delay: 0.3s;
}
.bar4{
  animation-delay: 0.4s;
}
.bar5{
  animation-delay: 0.5s;
}
@keyframes load {
  0%{
    transform: scaleY(0.1);
    background: green;
  }

  50%{
    transform: scaleY(2);
    background: #f5f778;
  }

  100%{
    transform: scaleY(0.1);
    background: transparent;
  }

}
